---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="container narrow">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <div class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%Y-%m-%d" }}
        </time>
      </div>
    </div>
  </header>

  <div class="container narrow">
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    <nav class="post-nav">
      <a href="{{ '/blog/' | relative_url }}">&larr; 返回博客</a>
    </nav>
  </div>
</article>
